  .f1 {font: bold 36pt helvetica;color:#000000;}
  .f2 {font: bold 10pt helvetica;color:#000000;}
  .f3 {font: bold 10pt helvetica;color:#ffffff;}
  .f4 {font: 10pt helvetica;color:#000000;}
  .f5 {font: bold 10pt helvetica;color:#fe0000;}
